<h1>All Listings</h1>

<% @listings.each do |l| %>
  <%= image_tag l.image, :class => 'thumb' if l.image.present? %>
  <ul>
    <li>Name: <%= link_to l.name, listing_path(l.id) %></li>
    <li>Description: <%= l.description %></li>
    <li>Price: <%= l.price %></li>
  </ul>
<% end %>
