<h2>About Us</h2>
<p>TwoSM is an online marketplace for buying and selling bespoke handmade crafts.</p>
<p>We are a global commerce leader that connects millions of buyers and sellers in over 100's of markets around the world. We exist to enable economic opportunity for individuals, entrepreneurs, businesses and organizations of all sizes.</p>
<h4>For Sellers</h4>
<p>Enabling businesses of all sizes to access opportunity on a global scale</p>
<p>From the very first moment a seller opens their virtual store, we are with them every step of the way. We build tools to help them grow and sustain their business, while also developing products that simplify the selling experience.</p>
<p>Small businesses and entrepreneurs are fundamental to the economic health of local communities, helping to create jobs and bring Main Streets to life. We strive to fuel their long-term success through digital commerce, so they can grow their business locally while selling globally.</p>
<h4>For Buyers</h4>
<p>We know your shopping standards are high. That’s why we manage our marketplace, working closely with the big name brands and small businesses on our platform. On eBay, you can find the right items, at the right price—worry-free! Discover all the ways we’ve got your back.</p>
<p>You can trust our sellers to deliver great service. We partner with our seller community so you can shop without a worry.</p>
